@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #202c37;
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
}

/* HEADER */

header {
  background: #2b3945;
  padding: 2rem 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 260px));
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  gap: 3rem;
  padding: 5rem 0;
}

.country {
  background: #2b3945;
  border-radius: 4px;
  overflow: hidden;
}

.country-image {
  position: relative;
  height: 160px;
}

.country-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country-info {
  padding: 1rem;
}

.country-info h2 {
  margin-bottom: 1rem;
}

.country-info ul {
  list-style: none;
}

.country-info li {
  font-weight: 300;
  margin-bottom: 0.3rem;
}

.country-info li span {
  font-weight: 600;
}

.search {
  margin-top: 3rem;
}

.search form input {
  background: #2b3945;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  min-width: 400px;
  font-family: "Nunito Sans", sans-serif;
  outline: none;
  color: #ffffff;
  border-radius: 4px;
}

@media screen and (max-width: 1250px) {
  .container {
    width: 90%;
  }
}
